'atom-workspace': [
  label: 'Open Live Archive'
  command: 'live-archive:open'
]

menu: [
  label: 'Packages'
  submenu: [
      label: 'Live Archive'
      submenu: [
        label: 'Open'
        command: 'live-archive:open'
    ]
  ]
]
