# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Open Live Archive': 'live-archive:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Live Archive'
      'submenu': [
        { 'label': 'Open', 'command': 'live-archive:open' }
      ]
    ]
  }
]
